#page, #ds-thread{
	background: white;
/*	background-image: url(grid.png); */
	padding: 3em 3em 1.5em 3em;
	border: 1px solid #ccc;
}

/* More experimental CSS3 features */
#page, #ds-thread {
	box-shadow: 2px 2px 8px #aaa;
	-webkit-box-shadow: 2px 2px 8px #aaa;
	-moz-box-shadow: 2px 2px 8px #aaa;	
}

#ds-thread { padding-top: 0px;
	margin-top: 20px;