<!DOCTYPE html >
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>AlphaThink团队|没有完美的个人,只有完美的团队！</title>
    <meta name="description" content="AlphaThink团队实验室 " />
    <meta name="Keywords" content=" AlphaThink,在郑大，zzufor,郑州大学，郑州大学门户，郑州大学校园门户" />
    <link rel="stylesheet" href="http://alphathink.b0.upaiyun.com/css/style.css" type="text/css" />
    <!--[if lt IE 9]>
     <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--<script type="text/javascript" src="http://alphathink.b0.upaiyun.com/js/jquery-1.7.1.min.js"></script>-->
</head>
<body class="home blog">
    <div id="header-wrapper">
        <div id="header">
            <!--            <div style="margin-bottom: 10px; margin-left: -10px;">
                <img src="./css/top.jpg">
            </div>-->
            <h1>
                <a href="http://s474959009.github.com/AlphaThink">AlphaThink</a></h1>
              <h2 style="margin-top: 10px; font-family: 宋体" id="menucontent">
                <a href="{{site.baseurl}}">首页</a>
				<a href="">我们的故事</a>
				<a href="./about.html">关于AlphaThink</a>
				<a href="./contact.html">联系我们</a>
            </h2>
        </div>
    </div>
    <div id="access-wrapper">
        <div id="access">
            <div class="menu">
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>