{% include header.html  %}
<div class="totop" id="backtotop" style="display: block;">
        </div>
<a href="javascript:void(0);"></a>
    <div id="root">
        <div id="main">
        	<div id="content">{{ content }}</div>
            <div id="sidebar">
                <div class="box">
                    <h3>
                        微信二维码</h3>
                    <div>
                        <div>
                            <img src="http://alphathink.b0.upaiyun.com/images/alphathink.jpg" width="240" />
                        </div>
                    </div>
                </div>
                <div class="box">
                    <h3>
                        微博@AlphaThink</h3>
                    <ul>
                        <li>
                       <iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=0&speed=0&skin=3&isTitle=1&noborder=1&isWeibo=1&isFans=0&uid=2459132064&verifier=20fe0d00&dpc=1"></iframe>
                       </li>
                    </ul>
                </div>
                <div class="box">
                    <h3>
                        联系我们</h3>
                    <ul>
                        <li class="cat-item cat-item-1">邮箱：hi@alphathink.org </li>
                        <li class="cat-item cat-item-1">工作时间:周一至周六 9:00-22:00 </li>
                        <li class="cat-item cat-item-1">欢迎您吐槽、拍砖、鼓励￥%@&……！ </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--#main-->
    </div>
{% include footer.html  %}
